

<!doctype html>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>MusicShare</title>
    <meta name="description" content="なんかぐーたら概要を60文字～くらいでここさ書いてな">
    <meta name="viewport" content="width=device-width">

    <link href="/static/index.css" rel="stylesheet">

    <style>
        body{
        background-color:rgb(132, 173, 255);
        }
        </style>

</head>

<body>

<div id="wrapper">
    <header>
    <div class="conta">
        <div class="hamburger" id="open_nav">
            <img src="/static/hamburger.png" alt="">
        </div>
        <div class="title-block">
            <h1>検索ボックスを置きたいよね</h1>
        </div>
    </div>
    </header>

    <main>
    <div class="container">
    <section>
        <div class="content">
            <h1>MusicShareへようこそ</h1>
        </div>

    </section>

    </main>

<nav id="nav">
    <div class="logo"><img src="/static/logo.svg" alt=""></div>
    <ul>
        <li><a href="./two.html">home</a></li>
        <li><a href="./two.html">音楽</a></li>
        <li><a href="/static/kizi.html">特集</a></li>
        <li><a href="./upload.html">投稿</a></li>
        <li><a href="./two.html">タグ一覧</a></li>
        <li><a href="/static/kiyaku.html">利用規約</a></li>
    </ul>
</nav>

    <script src="/static/jquery-3.7.1.min.js"></script>
    <script>
    'use strict';

    $(document).ready(function() {
    $('#open_nav').on('click', function() {
        $('#wrapper, #nav').toggleClass('show');
    });
});

    </script>

</body>


</html>
