<nav class="navbar navbar-expand-sm navbar-dark bg-black p-4">
    <div id="wrapper">
        <nav id="nav">
            <!-- <div class="logo"><img src="/static/logo.svg" alt="Logo"></div> -->
             
            <ul>
                <li>
                    <h2>Menu</h2>
                </li>
                <li><a href="/">home</a></li>
                <li><a href="/#new-music">音楽</a></li>
                <li><a href="/static/article/C-POP/C-POP1.html" target="_blank">特集</a></li>
                <li><a href="/upload">投稿</a></li>
                <li><a href="/static/article/kiyaku.html" target="_blank">利用規約</a></li>
            </ul>
        </nav>
    </div>
    <header>
        <div class="container">
            <div class="hamburger" id="open_nav">
                <img src="../../static/image/UI/hamburger.png" alt="Menu">
            </div>
        </div>
    </header>
        <a class="navbar-brand" href="/"><b>MusicShare</b></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="input-group search-bar mt-3">
            <input type="text" class="form-control" placeholder="キーワードを入力..." aria-label="キーワード検索"
                aria-describedby="search-button" id="search-text">
            <button class="btn btn-outline-secondary" type="button" id="search-button">🔍</button>
        </div>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <!--
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">ホーム</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">新規投稿</a>
            </li>
        </ul>
        -->
            <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        </div>
</nav>