body {
    background-color: rgba(0, 0, 0, 0.014);
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #180000;
    text-align: left; /* すべてのテキストを左寄せにする */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif; /* 見出しに Roboto フォントを使用 */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

.inner {
    background-color: #ffffff;
    margin: 0px auto;
    padding-bottom: 1px;
    max-width: 70%;
}


h1 {
    font-size: 40px;
    margin: 0;
    padding: 5px;
    border-bottom: 2px solid #bcbcbc;
    color: #000000;
    background-color: #cc00ff3b;
    /*text-shadow: 
    -1px -1px 0 #0a202a,  
     1px -1px 0 #0a202a,
    -1px  1px 0 #0a202a,
     1px  1px 0 #0a202a*/
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
    border-bottom: 2px solid #bcbcbc;
    padding: 5px;
    color: #0a202a;
    background-color: #cc00ff3b;
}

h3 {
    font-size: 28px;
    margin: 20px 14px 0px 14px;
    padding-top: 10px;
    color: #000000;
    border-top: 2px solid #bcbcbc74;
}

h3.no-border {
    border-top: none;
    padding-top: 0;
}

h4{
    font-size: 22px;
    margin: 4px 0 0px 14px;
    color: #000000;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 22px;
}

ul {
    list-style-type: none;
}

li {
    margin: 5px 0 5px 20px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #5f0a7564;
}


/*.border {
    width: 180px;
    height: 170px;
    padding-left: 5px;
    text-align: left;
    display:block;
}


/*footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}*
